@import url('https://fonts.googleapis.com/css2?family=Lexend');

:root {

    /* FONTS */
    --lexend: 'Lexend',
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Tahoma, Verdana, sans-serif;

    /* COLOURS */
    --bg-color: #333;
    --box-bg: #00000077;
    --box-outline: #fff;
    --text-color: #fff;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--lexend);
}

.box {
    background-color: var(--box-bg);
    border: 5px solid var(--box-outline);
    padding: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
